{
  "presets": [
    "gatsby"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@": "./src"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "emotion",
          {
            "hoist": true
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true,
            "autoLabel": true
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "emotion",
          {
            "hoist": true
          }
        ]
      ]
    }
  }
}
